<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="second-body">
    <section class="container">
      <ul>
        <li>
          <a class="main__list-item" href="../index.html">Back</a>
        </li>
        <li>
          <a class="main__list-item" href="./checkout.html">Basket</a>
        </li>
      </ul>

      <ul class="products-container js-list"></ul>
    </section>

    <script type="module" src="../index.js"></script>
  </body>
</html>
